
/**
* @template:  Nerve

TABLE OF CONTENTS

	* Global
		+ Navbar
		+ Header
		+ Hero
		+ Portfolio
		+ Numbers
		+ Services
		+ clients
		+ Team
		+ Ready
		+ Price
		+ Blog
		+ Contact
		+ Brands
		+ Footer
		+ Blog Page
		+ Responsive
		
*/

$main-color: #45BA8D;
$tablet: 767px;
$desk: 991px;

@import "main.css";

/* -------------------------------------------------------
                     Global 
-------------------------------------------------------- */

body{
	font-family: 'Open Sans', sans-serif;
	color: #202125;
	font-weight: 400;
}

.section-padding{
	padding: 100px 0;
}

p{
	color: #202125;
	line-height: 1.8;
	font-size: 14px;
	word-spacing: 1px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
}

.sm-title{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
}

.section-head{

	margin-bottom: 100px;

	h6{
		font-size: 10px;
		letter-spacing: 4px;
		color: $main-color;
		margin-bottom: 15px;
	}

	h4{
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 30px;
	}
}

.button-top{
	position: fixed;
	bottom: -200px;
	right: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	background: #888;
	z-index: 99999999;
	opacity: .5;
	transition: all .5s;
	cursor: pointer;

	&:hover{
		opacity: .8;
	}
}

.button-show{
	bottom: 20px;
}

.butn{
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 1px solid $main-color;
  border-radius: 30px;
  padding: 10px 30px;
  background: $main-color;
  color: #fff;
  transition: all .4s;

  span{
  	position: relative;
  	z-index: 2;
  }

  &:hover span{
  	color: $main-color;
  }

  &:hover:after, &:hover:before{
  	height: 55%;
  }

  &:after, &:before{
  	content: "";
  	background: #fff;
  	position: absolute;
  	left: 0;
  	width: 100%;
  	height: 0%;
  	transition: all .4s;
  	z-index: 0;
  }

  &:before{
  	top: 0%;
  }

  &:after{
  	bottom: 0%;
  }
}

.butn-lx{
	font-size: 16px;
	padding: 10px 30px;
}

.icon{
	color: $main-color !important;
}

/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */

.navbar-default{
	padding: 20px 0 30px;
	background: none;
	border:none;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	.navbar-nav>li>a{
		margin: 0!important;
		color: #eee!important;
		padding: 0!important;
	}

	.navbar-nav>li{
		font-size: 14px;
		margin: 25px 20px 0;
		padding: 5 10px;
		background: none;
		cursor: pointer;
		position: relative;

		.active{
			color: $main-color !important;
			background: none;
		}
	}
}

.nav-scroll{
	background: #fff;
	border-bottom: 1px solid rgba(12,12,12,.04);
	min-height: 60px;
	line-height: 60px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .5s;

	.logo{
		padding-top: 5px;
	}

	.navbar-nav>li>a{
		color: #111 !important;
	}
}

.logo{
	width: 90px;
	float: left;
	padding-top: 15px;
}

.navbar-light{

	.navbar-nav>li>a{
		color: #222!important;
		font-weight: 700 !important;
	}
}

/* -------------------------------------------------------
                     Header 
-------------------------------------------------------- */

.header{
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-attachment: fixed;

	.owl-carousel{
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.item{
		height: 100vh !important;
		width: 100%;

		&:after{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: rgba(0,0,0,.8);
			z-index: 4;
		}

		.v-middle{
			z-index: 7;
			margin-top: 15px;
		}
	}

	.slide-1, .slide-2, .slide-3{
		background-size: cover !important;
	}

	.caption{
		text-align: center;
		padding-top: 30px;
		color: #fff;

		h4{
			font-size: 65px;
			font-weight: 100;
			margin-bottom: 15px;
			animation-delay: .5s;
		}

		h1{
			font-size: 65px;
			font-weight: 700;
			text-transform: capitalize;
			margin-bottom: 15px;
			animation-delay: .5s;
		}

		p{
			color: #eee;
			font-weight: 300;
			font-size: 17px;
			word-spacing: 2px;
			animation-delay: .5s;
		}

		.butn{
			margin-top: 30px;
			font-weight: 600;
			letter-spacing: .5px;
			animation-delay: .5s;
		}
	}

	.owl-nav{
		position: absolute;
		bottom: 5vh;
		left: 0;
		width: 100%;

		.owl-next{
			right: 0;
		}

		.owl-prev{
			left: 0;
		}
	}

	.owl-theme .owl-nav [class*=owl-]{
		background: transparent;
		transform: rotate(90deg);
		font-weight: 200 !important;
		position: absolute;
		top: -30px;
		z-index: 9;

		i{
			font-size: 10px;
		}
	}

	.owl-dots{
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 5vh;

		.owl-dot span{
			background: transparent;
			border: 1px solid #fff;
			width: 7px;
			height: 7px;
			margin: 0 3px;

			&:hover{
				background: transparent !important;
				border-color: $main-color;
			}
		}

		.active{

			span{
				background: $main-color !important;
			}
		}
	}
}

.light{

	.caption{
		text-align: left;
		color: #222;

		p{
			color: #777;
		}
	}

	.item{

		&:after{
			background: rgba(255,255,255,.4);
		}
	}
}

.colorful{

	.item{

		&:after{
			display: none;
		}
	}
}

#canvas-basic{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* -------------------------------------------------------
                     Hero 
-------------------------------------------------------- */

.hero{
	padding-bottom: 0;
	
	.intro{
		margin-bottom: 80px;

		h6{
			color: $main-color;
			margin-bottom: 20px;
		}

		h4{
			font-weight: 800;
			margin-bottom: 30px;
			text-transform: uppercase;
			word-spacing: 4px;
		}

		p{
			color: #888;
		}
	}

	.feat{
		margin-bottom: 80px;

		.item{
			padding: 0 15px;

			&:hover .icon{
				color: $main-color;
				transform: translateY(-5px);
			}

			.icon{
				font-size: 50px;
				margin-bottom: 30px;
				color: #ccc;
				transition: all .5s;
			}

			h6{
				margin-bottom: 20px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				font-size: 16px;
			}
		}
	}

	.quote{
		background-image: url(../img/3.jpg);
		background-size: cover;
		background-attachment: fixed;
		position: relative;
		padding: 120px 0;
		text-align: center;

		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .8;
			z-index: 1;
		}

		.container{
			position: relative;
			z-index: 7;
		}

		p{
			color: #eee;
			font-size: 24px;
			margin-bottom: 15px;
		}

		i{
			color: #999;
			padding: 0 5px;
			font-size: 18px;
		}

		span{
			color: $main-color;
		}
	}
}

/* -------------------------------------------------------
                     Portfolio 
-------------------------------------------------------- */

.portfolio{
	overflow: hidden;
	border-bottom: 1px solid #f5f5f5;
	
	.filtering{

		span{
			padding: 8px 20px;
			background: #f5f5f5;
			margin: 0 5px;
			color: #777;
			letter-spacing: 1px;
			font-weight: 600;
			font-size: 13px;
			text-transform: uppercase;
			cursor: pointer;
			position: relative;
			overflow: hidden;

			&:after, &:before{
				content: "";
				width: 100%;
				height: 1px;
				background: $main-color;
				position: absolute;
				left: 0;
				top: 50%;
				opacity: 0;
				transition: all .4s;
			}
		}

		.active{
			color: $main-color;

			&:after{
				bottom: 0;
				top: calc(100% - 1px);
				opacity: 1;
			}

			&:before{
				top: 0;
				opacity: 1;
			}
		}
	}

	.items{
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.item-img{
		position: relative;
		overflow: hidden;

		&:hover .item-img-overlay{
			opacity: 1;
			transform: translateY(0);
		}

		&:hover h6, &:hover .icons{
			transform: translateY(0);
		}

		h6{
			position: relative;
			margin-bottom: 15px;
			transform: translateY(-15px);
			transition: all .5s;
		}

		span{
			font-style: italic;
			color: #777;
		}
	}

	.item-img-overlay{
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		background: rgba(255,255,255,.8);
		color: #222;
		opacity: 0;
		transition: all .5s;
		z-index: 2;
		transform: translateY(10px);
	}

	.load{
		margin: 30px auto 0;
		border: 1px solid #eee;
		padding: 12px 30px;
		color: #555;
		transition: all .5s;

		&:hover{
			background: #111;
			border-color: #111;
			color: #fff;
		}
	}
}

/* -------------------------------------------------------
                     Numbers 
-------------------------------------------------------- */

.numbers{
	padding: 80px 0;
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .8;
		z-index: 1;
	}

	.container{
		position: relative;
		z-index: 3;
	}

	.item{
		text-align: center;
		color: #fff;

		.icon{
			display: block;
			font-size: 40px;
			color: $main-color;
		}

		.numb{
			font-size: 40px;
			font-weight: 800;
		}

		h6{
			font-size: 16px;
			font-weight: 500;
			margin-top: 15px;
			letter-spacing: .4px;
			text-transform: uppercase;
		}
	}
}

/* -------------------------------------------------------
                     Services 
-------------------------------------------------------- */

.services{
	overflow: hidden;
	padding-bottom: 70px;

	.item{
		margin-bottom: 50px;

		&:hover .icon{
			color: $main-color;
			transform: translateY(-5px);
		}

		.icon{
			font-size: 45px;
			color: #ccc;
			margin-bottom: 30px;
			transition: all .5s;
		}

		h6{
			margin-bottom: 15px;
			font-size: 16px;
			font-weight: 600;
		}
	}

	.serv-img{
		padding-top: 30px;

		img{
			width: auto;
		}
	}
}

/* -------------------------------------------------------
                     Clients 
-------------------------------------------------------- */

.clients{
	background-image: url(../img/4.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .8;
		z-index: 1;
	}

	.container{
		position: relative;
		z-index: 7;
		color: #fff;
	}

	.item{

		p{
			padding: 30px 0 20px;
			font-size: 20px;
			word-spacing: 2px;
			color: #eee;
			position: relative;

			&:after{
				content: "\201C";
				font-family: "FontAwesome";
				font-size: 150px;
				width: 0;
				height: 0;
				color: #888;
				position: absolute;
				top: 140px;
				left: 100px;
				transform: rotate(180deg);
				opacity: .2;
				z-index: -1;
			}

		}

		.cle-img{
			width: 100px;
			height: 100px;
			margin: 0 auto 15px;
			border: 5px solid rgba(255,255,255,.2);
			border-radius: 50%;
			overflow: hidden;

			img{
				border-radius: 50%;
			}
		}

		h5{
			font-size: 20px;
		}

		h6{
			color: $main-color;
			font-weight: 600;
			letter-spacing: 0;
			margin-bottom: 20px;
		}
	}

	.owl-theme .owl-dots .owl-dot span{
		background: transparent;
		border: 1px solid #eee;
		margin: 2px;
		height: 6px;
		width: 6px;
	}

	.owl-theme .owl-dots .owl-dot.active span,
	.owl-theme .owl-dots .owl-dot:hover span{
		background: #eee;
	}
}

/* -------------------------------------------------------
                     Team 
-------------------------------------------------------- */

.team{

	.item{
		margin-bottom: 50px;
	}

	.team-img{
		position: relative;
		overflow: hidden;

		img{
			transition: all .5s;
		}

		&:hover .social-icon{
			top: 0;
		}

		&:hover img{
			transform: scale(1.1,1.1);
		}
	}

	.social-icon{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.7);
		text-align: center;
		transition: all .5s;

		.icon{
			width: 35px;
			height: 35px;
			line-height: 35px;
			border: 1px solid #f4f4f4;
			border-radius: 50%;
			color: #eee;
			font-size: 14px;
			margin: 2px;
			transition: all .5s;

			&:hover{
				border-color: $main-color;
				color:  $main-color;
			}
		}
	}

	.info{
		margin-top: 30px;
		text-align: center;

		h6{
			margin-bottom: 7px;
			text-transform: capitalize;
			font-size: 16px;
			letter-spacing: 0;
		}

		span{
			font-size: 14px;
		}
	}

	.owl-theme .owl-dots .owl-dot span{
		background: transparent;
		border: 1px solid #888;
		margin: 2px;
		height: 6px;
		width: 6px;
	}

	.owl-theme .owl-dots .owl-dot.active span,
	.owl-theme .owl-dots .owl-dot:hover span{
		background: #888;
	}

	.owl-theme{
		position: relative;
	}

	.owl-theme .owl-nav [class*=owl-]{
		background: #f4f4f4;
		color: #222;
		font-size: 20px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border-radius: 50%;
		position: absolute;
		top: calc(50% - 30px);

		&:hover{
			border-color: #888;
		}
	}

	.owl-carousel .owl-nav .owl-next{
		right: 0;
	}
	.owl-carousel .owl-nav .owl-prev{
		left: 0;
	}
}

.skills{
	padding-top: 80px;

	.prog-item{
		margin-bottom: 30px;
	}

	h6{
		margin-bottom: 12px;
		font-weight: 500;
		font-size: 15px;
	}

	.skills-progress{
		height: 20px;
		border-radius: 2px;
		width: 100%;
		background: #f5f5f5;
		position: relative;
		box-shadow: 0px 4px 5px #eee inset;

		span{
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			border-radius: 2px;
			background: $main-color;
			transition: all 1s linear;

			&:after{
				content: attr(data-value);
				position: absolute;
				right: -10px;
				top: -34px;
				width: 35px;
				height: 22px;
				line-height: 22px;
				text-align: center;
				font-size: 10px;
				background: #444;
				color: #fff;
				border-radius: 2px;
			}

			&:before{
				content: "";
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 10px solid #444;
				position: absolute;
				top: -12px;
				right: -2px;
			}
		}
	}
}

/* -------------------------------------------------------
                     Ready 
-------------------------------------------------------- */

.ready{
	background-image: url(../img/1.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .5;
		z-index: 1;
	}

	.container{
		position: relative;
		z-index: 7;
		color: #fff;
	}

	h4{
		font-size: 40px;
		font-weight: 200;
		margin-bottom: 10px;

		span{
			font-weight: 600;
		}
	}

	p{
		color: #eee;
		margin-bottom: 30px;
		font-size: 18px;

		span{
			color: $main-color;
		}
	}
}

/* -------------------------------------------------------
                     Price 
-------------------------------------------------------- */

.price{

	.item{
		position: relative;
		background: #fff;
		border: 1px solid #f0f0f0;
		border-radius: 5px;
		padding: 0 15px;
		overflow: hidden;
		z-index: 8;

		.type{
			padding: 30px 0;

			h6{
				font-size: 18px;
				font-weight: 600;
			}
		}

		.mount{
			padding: 30px;
			border-top: 1px solid #f7f7f7;
			border-bottom: 1px solid #f7f7f7;

			h2{
				font-weight: "Montserrat", sans-serif;
				font-weight: 700;
				margin-bottom: 5px;
				position: relative;
				display: inline-block;

				span{
					font-size: 20px;
					position: absolute;
					top: 0;
					left: -20px;
				}
			}

			.per{
				display: block;
			}
		}

		.featruse{
			padding: 30px 0;

			p{
				margin-bottom: 10px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.purchase{
			padding: 30px 0;
			border-top: 1px solid #f4f4f4;

			.butn{
				width: 80%;
				margin: auto;
				background: #212121 !important;
				border-color: #212121;

				&:hover span{
					color: #212121 !important;
				}
			}
		}
	}

	.active{
		border: 1px solid $main-color;

		.mount{

			h2{
				color: $main-color;
			}
		}

		.purchase{

			.butn{
				background: $main-color !important;
				border-color: $main-color;

				&:hover span{
					color: $main-color;
				}
			}
		}
	}
}

/* -------------------------------------------------------
                     Blog 
-------------------------------------------------------- */

.blog{
	background: #f5f5f5;

	.item{
		box-shadow: 0px 0px 80px #f0f0f0;
		margin-bottom: 30px;
		border-radius: 5px;
		overflow: hidden;

		.img-post{
			position: relative;
			overflow: hidden;

			&:hover img{
				transform: scale(1.2,1.2);
			}

			img{
				transition: all .5s ease-in-out;
			}

			.vid{
				width: 80px;
				height: 80px;
				font-weight: 700;
				font-size: 80px;
				color: #fff;
				position: absolute;
				top: calc(50% - 40px);
				left: calc(50% - 40px);
			}
		}

		.cont-post{
			padding: 30px 15px;
			background: #fff;

			.tag{
				font-weight: 600;
				margin-bottom: 20px;
				color: $main-color;
			}

			h6{
				color: #444;
				font-size: 18px;
			}

			.info{
				font-size: 12px;
				font-style: italic;
				color: #aaa;
				margin-top: 15px;

				span{
					margin: 0 5px;
				}
			}

			p{
				margin-top: 30px;
				color: #aaa;
			}
		}
	}

	.text-over{
		position: relative;

		.cont-post{
			position: absolute;
			top: 7%;
			left: 5%;
			width: 90%;
			height: 86%;
			background: rgba(255,255,255,.7);
			border-radius: 5px;

			h6{
				line-height: 1.6;
			}
		}
	}
}


/* -------------------------------------------------------
                     Brands 
-------------------------------------------------------- */

.brands{
	padding: 50px 0;
}

/* -------------------------------------------------------
                     Contact 
-------------------------------------------------------- */

.contact{
	position: relative;
	overflow: hidden;

	.info{
		padding: 80px 0;
		background-image: url(../img/2.jpg);
		background-size: cover;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;

		&:after{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #000;
			opacity: .85;
			z-index: 1;
		}

		.item{
			position: relative;
			z-index: 3;
			color: #fff;
			text-align: left;

			.icon{
				font-size: 40px;
				color: $main-color;
				padding: 15px 15px 15px 0;
				border-right: 1px solid rgba(255,255,255,.2);
			}

			.cont{
				display: inline-block;
				margin-left: 15px;
			}

			h6{
				margin-bottom: 10px;
				font-size: 11px;
			}

			h5{
				font-weight: 500;
				font-size: 15px;
				word-spacing: .5px;
			}
		}
	}

	.contact-form{
		padding: 80px 50px;
	}

	.form{

		input,textarea{
			width: 100%;
			padding: 14px;
			border: 0;
			border-radius: 5px;
			background: #f5f5f5;
			margin-bottom: 10px;
		}

		textarea{
			height: 160px;
			max-width: 100%;
			max-height: 160px;
		}

		input[type="submit"]{
			border: 1px solid $main-color;
			background: $main-color;
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			padding: 14px;
			margin-bottom: 0;
			border-radius: 30px;
			text-transform: capitalize;
			transition: all .5s;

			&:hover{
				background: transparent !important;
				color: $main-color;
			}
		}
	}

	.contact-map{
		padding: 0;
		overflow: hidden;
	}

	#ieatmaps {
		height: 100%;
	  	width: 100%;
	}
}

/* -------------------------------------------------------
                     Footer 
-------------------------------------------------------- */

footer{
	background: #121212;
	padding: 70px 0;

	p{
		float: left;
		color: #aaa;
		word-spacing: 2px;
		font-size: 15px;
	}

	.social-icon{
		float: right;

		span{
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			border: 1px solid #aaa;
			border-radius: 50%;
			color: #aaa;
			margin: 2px;
		}
	}
}

/* -------------------------------------------------------
                     Blog Page 
-------------------------------------------------------- */

.sub-header{
	height: 70vh;

	h6{
		font-size: 40px;
		margin-bottom: 15px;
		font-weight: 700;
	}

	span{
		font-style: italic;
		margin: 0 3px;
	}
}

.posts{
	background: #f9f9f9;

	.post{

		.item{
			text-align: center;
			margin-bottom: 50px;

			.video-post{
				width: 100%;
				height: 450px;
				
				iframe{
					width: 100%;
					height: 100%;
				}
			}

			.cont-post{
				background: #fff;
				padding: 30px;

				.tag{
					color: $main-color;
					margin-bottom: 15px;
				}

				h6{
					font-size: 30px;
					font-weight: 700;
					font-family: 'Playfair Display', serif;
					margin-bottom: 15px;
					line-height: 1.5;
				}

				.info{
					margin-bottom: 30px;

					span{
						color: #aaa;
						font-style: italic;
						font-size: 12px;
						padding-right: 10px;
						margin-right: 10px;
						position: relative;

						&:last-child{
							padding-right: 0;
							margin-right: 0;
						}

						&:after{
							content: "";
							width: 5px;
							height: 5px;
							border-radius: 50%;
							background: #eee;
							position: absolute;
							right: -5px;
							top: 10px;
						}

						&:last-child:after{
							display: none;
						}
					}
				}

				p{
					position: relative;
					padding-left: 60px;
					text-align: left;

					span{
						font-weight: 700;
						font-family: 'Playfair Display', serif;
						font-size: 60px;
						text-transform: uppercase;
						position: absolute;
						top: -30px;
						left: 0;
					}
				}

				.active{
					margin: 30px auto;
					padding: 30px;
					box-shadow: 0px 0px 20px #eee;
					border-left: 5px solid $main-color;
					color: #777;
					font-size: 18px;
					border-radius: 5px;
				}

				.social-icon{

					span{
						padding: 5px 15px;
						color: #fff;
						border-radius: 2px;
					}
				}
			}
		}

		.side-title{
			text-align: center;

			h6{
				font-size: 18px;
				font-family: 'Playfair Display', serif;
				font-weight: 700;
				display: inline-block;
				position: relative;
				margin-bottom: 50px;

				&:before, &:after{
					content: '';
					width: 40px;
					height: 1px;
					background: #eee;
					position: absolute;
					top: 10px;
				}

				&:before{
					left: -50px;
				}

				&:after{
					right: -50px;
				}
			}
		}

		.comm{
			padding: 30px;
			background: #fff;
			margin-bottom: 50px;

			.comm-item{
				margin-bottom: 50px;

				.user-img{
					width: 40px;
					height: 40px;
					border-radius: 50%;
					overflow: hidden;
					float: left;
					background: #eee;
				}
				.comnts{
					margin-left: 70px;

					h6{
						margin-bottom: 5px;
						letter-spacing: 1px;
					}

					span{
						font-style: italic;
						font-size: 12px;
						color: #888;
						margin-right: 15px;
						margin-bottom: 15px;

						i{
							margin-right: 5px;
						}
					}
				}
			}

			.comm-reply{
				margin-left: 70px;
			}
		}

		.lev-comm{
			padding: 30px;
			background: #fff;
			margin-bottom: 50px;

			input,textarea{
				width: 100%;
				padding: 10px;
				border: 1px solid #f9f9f9;
				background: #f9f9f9;
				margin-bottom: 15px;
				font-size: 12px;
			}

			textarea{
				height: 140px;
				max-width: 100%;
				max-height: 140px;
			}

			input[type="submit"]{
				background: $main-color;
				border-color: $main-color;
				color: #fff;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 1px;
				transition: all .5s;

				&:hover{
					opacity: .8;
				}
			}
		}

		.numb{

			span{
				padding: 5px 10px;
				border: 1px solid #888;
				margin: 0 5px;
				transition: all .5s;

				&:hover{
					background: $main-color;
					border-color: $main-color;
					color: #fff;
				}
			}

			.active{
				border-color: $main-color;
				background: $main-color;
				color: #fff;
			}
		}
	}

	.sidbar{

		.widget{
			text-align: center;
			margin-bottom: 50px;
			background: #fff;
			position: relative;
			padding: 30px 15px;

			.side-title{

				h6{
					font-size: 16px;
					font-family: 'Playfair Display', serif;
					font-weight: 700;
					display: inline-block;
					position: relative;
					margin-bottom: 30px;

					&:before, &:after{
						content: '';
						width: 40px;
						height: 1px;
						background: #eee;
						position: absolute;
						top: 10px;
					}

					&:before{
						left: -50px;
					}

					&:after{
						right: -50px;
					}
				}
			}
		}

		.side-search{

			input{
				width: 100%;
				padding: 10px;
				border: 1px solid #eee;
			}
		}

		.side-about{

			img{
				margin-bottom: 15px;
			}

			p{
				color: #777;
				font-style: italic;
			}
		}

		.side-follow{

			span{
				margin: 0 4px;
				font-size: 16px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border: 1px solid #eee;
				border-radius: 50%;
			}
		}

		.side-last{
			text-align: left;

			img{
				width: 100px;
			}

			.info{
				padding-top: 15px;
				display: inline-block;
				margin-left: 10px;

				h6{
					font-size: 14px;
					margin-bottom: 5px;
				}

				span{
					font-size: 10px;
					font-style: italic;
					margin: 0 2px;
					color: #aaa;
				}
			}
		}

		.side-tags{

			span{
				padding: 5px 8px;
				font-size: 12px;
				border: 1px solid #eee;
				margin: 5px;
				transition: all .5s;

				&:hover{
					background: $main-color;
					border-color: $main-color;
					color: #fff;
				}
			}
		}
	}
}

/* -------------------------------------------------------
                    Responsive
-------------------------------------------------------- */

@media screen and (max-width: $tablet){

	*{
		background-position: 50% 0%;
	}

	.navbar-default{

		.logo{
			margin-left: 20px;
		}

		.navbar-toggle{
			background: none !important;
			margin-top: 15px !important;
			border: none !important;

			&:hover, &:focus{
				background: transparent !important;
			}

			.icon-bar{
				background: #fff;
			}
		}

		.navbar-nav li a{
			color: #111 !important;
		}

		.navbar-nav>li>a{
			padding-bottom: 0 !important;
		}

		.navbar-collapse{
			text-align: center;
			border: none;
			border-top: 1px solid rgba(12,12,12,.04);
			background: #fff;
			margin-top: 5px;
			padding-bottom: 15px;
		}
	}
	
	.nav-scroll{

		.navbar-toggle{

			.icon-bar{
				background: #111;
			}
		}
	}

	.header{

		h1{
			font-size: 35px !important;
		}
	}

	.light .caption{
		padding-left: 15px;
	}

	.block .numbers .item{
		margin-bottom: 50px !important;
	}

	.portfolio{

		.filtering{

			span{
				margin: 10px 2px;
			}
		}
	}

	footer{

		.social-icon, p{
			float: none;
			text-align: center;
			margin: 15px auto;
		}
	}
	
}

@media screen and (max-width: $desk){

	.navbar-default{

		.navbar-nav>li{
			    margin: 25px 15px 0;
		}
	}

	.header{

		h1{
			font-size: 40px !important;
		}

		h4{
			font-size: 30px !important;
		}
	}

	.portfolio{

		.items{
			width: 100%;
		}
	}

	.blog{

		.maso{
			width: 100%;
		}
	}

	.contact{

		.info [class*=col-]{
			width: 100%;
			margin-bottom: 50px;
		}
	}

	.block .skills .skills-progress{
		width: 100% !important;
	}

	.hero .item,
	.price .item,
	.numbers .item,
	.blog .item
	{
		margin-bottom: 50px !important;
	}
}

/* -------------------------------------------------------
                    End
-------------------------------------------------------- */